//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-

h3
   | Model Catalog
.modelcatalog
   .panel
      spinner(ng-show='state.isPending()')
      div(ng-if='state.isLoaded()')
         .models
            div
               section.search
                  .searching
                     search-bar(ng-if='models.length')
                     button.btn-primary.button-add-model.fa-plus(ui-sref='app.modelcatalog.upload')   Add New Model
                  .divider(ng-if='models.length')
               section.filter(ng-if='models.length')
                  h3 Filter
                  .filters
                     .model-type
                        label.outstanding Model Type:
                        .select-wrapper
                           select.form-control(ng-model="filters.selectedType"
                              ng-class="{ 'placeholder': filters.selectedType === modelTypes[0]}"
                              ng-change="matchSelectedType(filters.selectedType)")
                              option(
                                 ng-repeat="modelType in modelTypes"
                                 value="{{modelType}}") {{ modelType }}
                           span
                              em.fa.fa-caret-down(aria-hidden="true")
                     .model-date-range
                        form(name="creation")
                           label.outstanding Model Added Date Range:
                           .date-wrapper.form-inline
                              .form-group
                                 label.date Start Date
                                 span
                                    em.fa.fa-calendar
                                 input.form-control.date-range(name="start" type="text", uib-datepicker-popup="dd-MM-yyyy"
                                    placeholder="dd-MM-yyyy" ng-model="filters.created.from" is-open="dp.createdOpened"
                                    ng-click="openCreated()" datepicker-options="dp.options" date-validator)
                                 span
                                 div(ng-hide="creation.start.$valid")
                                    span.validationMessage(ng-message="regexValidator")
                                       | {{ dateValidationMessage }}
                              .form-group
                                 label.date End Date
                                 span
                                    em.fa.fa-calendar
                                 input.form-control.date-range(name="end" type="text", uib-datepicker-popup="dd-MM-yyyy"
                                    placeholder="dd-MM-yyyy" ng-model="filters.created.to" is-open="dp.toOpened"
                                    ng-click="openTo()" date-validator)
                                 span
                                 div(ng-hide="creation.end.$valid")
                                    span.validationMessage(ng-message="regexValidator")
                                       | {{ dateValidationMessage }}
                     .button-filter
                        button.btn-primary.fa-close(ng-click="clearFilters()") Clear Filters
                  .divider
            div
               h4(ng-if='!models.length') No available models
            table.table-striped.list(ng-show='models.length', ng-table="tableParams", class="table")
               tr(ng-repeat="model in $data")
                  td(data-title="'Model Name'" sortable="'name'")
                     | {{model.name}}
                  td(data-title="'Added Date'" sortable="'addedOn'")
                     | {{ getModelCreationTimestamp(model) | date : dd-MM-yyyy }}
                  td(data-title="'Method'" sortable="'algorithm'") {{ model.algorithm }}
                  td(data-title="'Type'" sortable="'creationTool'") {{ model.creationTool }}
                  td
                     a(ui-sref='app.modelcatalog.model({modelId: model.id})') See details &raquo;