//
   Copyright (c) 2016 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.model-details
    h3
       text-editable(text='model.name' submit='updateModelName(currentText)')
    spinner(ng-show='state.isPending()')
    .panel(ng-show='state.isLoaded()')


        h4.actions-heading Actions
        span.not-supported(ng-if="model.creationTool.toLowerCase() === 'other'")
         | *This model is not a supported model type, some actions may not be available.

        .actions
            //button.btn.btn-primary.fa-pencil-square-o(ng-click="goToEditMode()") Edit Metadata
            a.btn.btn-primary.fa-times(ng-click='tryDeleteModel()') Delete
            a.btn.btn-primary.fa-download(ng-href='/rest/models/{{model.id}}/artifacts/{{mainArtifact.id}}/file'
               ng-if="mainArtifact") Download
            // should be deleted when UI will support additional artifact section
            a.btn.btn-primary.fa-download(ng-href='/rest/models/{{model.id}}/artifacts/{{extraArtifacts[0].id}}/file'
               ng-if="extraArtifacts && !mainArtifact") Download
            a.btn.btn-primary.fa-plus(ng-click='addScoringEngine()') Add Scoring Engine
            a.btn.btn-primary.fa-plus(ng-click='tryUploadArtifact()' ng-hide='true') Add Artifact

        h4 Metadata
        table.table-metadata
            tr
                td Type
                td {{model.creationTool}}
            tr
                td Version
                td {{model.revision}}
            tr
                td Method
                td {{model.algorithm}}
            tr
                td Description
                td {{model.description}}
            tr
                td Added Date
                td {{model.addedOn}}
            tr
                td Creator
                td {{model.addedBy}}

        .scoring-engines(ng-hide="scoringEngineState.isError()")
           h4 Scoring Engine Instances
           button.btn.btn-primary.fa-refresh.pull-right(ng-click='refresh()'
               ng-hide='scoringEngineState.isPending()') Refresh
           spinner(ng-show="scoringEngineState.isPending() || addScoringEngineState.isPending()")
           p(ng-show='!scoringEngineInstances.length && scoringEngineState.isLoaded()') No running instances

           table.table(ng-show="scoringEngineInstances.length && scoringEngineState.isLoaded() && addScoringEngineState.isDefault()")
              thead
                 tr
                    th Name
                    th URL
                    th State
                    th
              tbody
                 tr(ng-repeat="instance in scoringEngineInstances | orderBy: 'name'")
                    td {{ instance.name }}
                    td
                       a(href='{{ instance.url | ensureProtocol }}' target="_blank") {{ instance.url }}
                    td {{ instance.state }}
                    td
                       a(ui-sref='app.marketplace.instance({instanceId: instance.id})') See details &raquo;
           .divider

        .artifacts(ng-hide='true')
           h4(ng-if='extraArtifacts.length') Additional Artifacts
           div(ng-if='!extraArtifacts.length') No Additional Artifacts

           spinner(ng-show='deleteArtifactState.isPending() || addArtifactState.isPending()')
           table.table.table-striped(ng-table="tableParams"
               ng-show='extraArtifacts.length && deleteArtifactState.isDefault() && addArtifactState.isDefault()')
              tr(ng-repeat="artifact in $data")
                 td(data-title="'Artifact Name'" sortable="'filename'")
                    | {{ artifact.filename }}
                 td(data-title="'File Path'" sortable="'location'")
                    | {{ artifact.location }}
                 td(data-title="'Actions'").pull-right 
                    .action-icon
                       span.fa.fa-trash-o(ng-click='tryDeleteArtifact(artifact)')
                    .action-icon
                       a(ng-href='/rest/models/{{model.id}}/artifacts/{{artifact.id}}/file')
                        span.fa.fa-download

    .panel.panel-warning(ng-show='state.isError()')
        .panel-heading Error loading content
        .panel-body Model details page is unavailable

   .panel.panel-warning(ng-show='scoringEngineState.isError()')
      .panel-heading Error loading content
      .panel-body Information about running scoring engine instances is unavailable

script(type="text/ng-template", id="confirm-delete")
    .ngdialog-message.clearfix
        | {{ model.name }}
        p
            | Are you sure you want to delete
            = ' '
            b {{ data.model || data.artifact || data.instance }}
            | ?
        .pull-right
            button.btn.btn-primary(type='button', ng-click='confirm()') Delete
            button.btn.btn-default(type='button', ng-click="cancel()") Cancel

script(type="text/ng-template", id="confirm-add-artifact")
    .ngdialog-message.upload-dialog.clearfix
       h4 Add New Model Artifact
       .browse-upload
          label Browse for Local File
          .input-group
            input.file-box(value='{{file.name}}')
            .file-input
               input(type="file", nv-file-select, ng-model='file'
                  ngf-select='data.scope.setChosenFile(file)' autofocus='true')
               span Choose...
       .actions
          button.btn.btn-primary.fa-plus(ng-click='confirm()') Add Artifact
          button.btn.btn-primary.fa-times(type='button', ng-click="cancel()") Cancel Add



