//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
spinner(ng-show='state.isPending()')

.dashboard.error-state(ng-show='state.isError()')
    .error Error loading metrics

.dashboard.row(d-visible="state.isLoaded()")
    .category-title.clearfix
        | Health & metrics

    tile-small-white-numeric(number="data.applications_running_count", text="'Applications running'", link="#/app/applications").col-lg-4.col-md-6.col-sm-6
    tile-small-white-numeric(number="data.applications_failed_count", text="'Applications down'",
      link="#/app/applications").col-lg-4.col-md-6.col-sm-6
    tile-small-white-numeric(number="data.users_count", text="'Users count'",
      link="#/app/manage/orgusers", link-enabled="canManageUsers()").col-lg-4.col-md-6.col-sm-6


    .category-title.clearfix Quotas
    tile-blue-numeric(number="data.services_count", text="'Service usage'",
      link="#/app/marketplace/instances").col-lg-4.col-md-6.col-sm-6.tile-height-small
    tile-blue-numeric-percentages(number="data.memory_usage_percentage", text="'Memory usage'",
      link="#/app/marketplace/instances").col-lg-4.col-md-6.col-sm-6.tile-height-small
    tile-blue-numeric-percentages(number="data.cpu_usage_percentage", text="'CPU usage'",
      link="#/app/marketplace/instances").col-lg-4.col-md-6.col-sm-6.tile-height-small


    .category-title.clearfix Data
    tile-blue-numeric(number="data.private_datasets_count", text="'Private datasets'",
      link="#/app/datacatalog/datasets").col-lg-4.col-md-6.col-sm-6.tile-height-small
    tile-blue-numeric(number="data.public_datasets_count", text="'Public datasets'",
      link="#/app/datacatalog/datasets").col-lg-4.col-md-6.col-sm-6.tile-height-small



